{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.css' %}">
</head>

<body>
    <h1>hai INI HOME FAIZ</h1>
    <a href="/modul/">test</a>
    <a href="/modul2/">test2</a>
    <a href="/modul3/">test3</a>
</body>

</html>